@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Kaushan+Script&family=Marcellus+SC&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

p{
    font-family: "Inter";
}

header{
    background-color: #007FDA;
    width: 100%;
    height: 8vh;
    display: flex;
}

.posicionar{
    display: block;
    margin-left: 1%;
    height: 8vh;
    width: 5%;
}

.titulo{
    font-size: 5vh;
    position: absolute;
    font-family: "Inter";
    margin-top: 0.5%;
    left: 14%;
    color: white;
}

.subtitulo{
    font-size: 4vh;
    position: absolute;
    font-family: "Inter";
    color: white;
    margin-top: 0.8%;
    left: 50%;
    top: 0vh;
    font-weight: bold;
}

#caixausuario{
    position: absolute;
    display: flex;
    background-color: #0C91F0;
    border-radius: 8px;
    height: 6.5%;
    width: 13%;
    top: 1%;
    left: 80%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.226);
}

.usuario{
    position: fixed;
    background-color: #5A67BA;
    border-radius: 50%;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    margin-top: 1.3vh;
    margin-left: 0.5vw;
    width: 2%;
    height: 3.9%;
    text-align: center;
    font-size: 2.5vh;
}

.caixa{
    position: fixed;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    top: 2.3%;
    left: 83%;
    font-size: 2.5vh;
}

.sinoimg{
    position: fixed;
    top: 2.3vh;
    left: 90%;
    width: 2%;
    height: 4%;
}

.sair{
    position: fixed;
    display: block;
    height: 4%;
    width: 2%;
    top: 2%;
    right: 2%;
}

nav{
    background-color: #F1F2F7;
    width: 16vw;
    font-family: "Poppins";
    height: 92vh;
}

.logo{
    width: 6vw;
    margin-left: 4vw;
}

.dashboard{
    position: absolute;
    background-color: #e0e3f1;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    text-decoration: none;
    color: #558FC0;
    border-radius: 15px;
    margin-left: 0.3vw;
    background-image: url(img/iconeDashboard1.png);
    background-repeat: no-repeat;
    background-position: 0.5vw;
    background-size: 2vw;
    padding-top: 0.1vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 4vw;
    font-size: 1.2vw;
    top: 22vh;
    left: 1vw;
}

.novocadastro{
    position: absolute;
    background-color: #e0e3f1;
    box-shadow: 1px 1px hsla(0, 0%, 0%, 0.226);
    text-decoration: none;
    color: #2CA2AD;
    border-radius: 15px;
    margin-left: 0.3vw;
    background-image: url(img/iconeNovoCadastro1.png);
    background-repeat: no-repeat;
    background-position: 0.5vw;
    background-size: 2vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1.8vw;
    font-size: 1.2vw;
    top: 30vh;
    left: 1vw;
}

.posicionar1{
    margin-left: 2vw;
}

.monitoramento{
    position: absolute;
    color: #558FC0;
    left: 3vw;
    font-size: 1.5vw;
    top: 38vh;
}

.pacientesgerais{
    position: absolute;
    background-color: #1892b140;
    text-decoration: none;
    color: #558FC0;
    border-radius: 15px;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 2.5vw;
    border-color: #000000;
    padding-left: 1vw;
    font-size: 1.2vw;
    top: 43vh;
    left: 1vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.pag{
    margin-left: 1vw;
}

.baixorisco{
    position: absolute;
    text-decoration: none;
    background-color: #ff71e536;
    color: hsla(210, 100%, 1%, 0.68);
    border-radius: 15px;
    font-size: 1vw;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    top: 52vh;
    left: 4vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.mediorisco{
    position: absolute;
    text-decoration: none;
    background-color: #ffa2003f;
    color: hsla(207, 64%, 9%, 0.87);
    border-radius: 15px;
    font-size: 1vw;
    padding-right: 0.75vw;
    padding-left: 0.75vw;
    top: 57vh;
    left: 4vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.altorisco{
    position: absolute;
    text-decoration: none;
    background-color: #ff110044;
    color: #020D16;
    border-radius: 15px;
    font-size: 1vw;
    padding-right: 1.3vw;
    padding-left: 1.3vw;
    top: 62vh;
    left: 4vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.absenteistas{
    position: absolute;
    text-decoration: none;
    background-color: #a612e554;
    color: #020D16;
    border-radius: 15px;
    font-size: 1vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    top: 67vh;
    left: 4vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.ajuda{
    position: absolute;
    color: #558FC0;
    font-size: 1.5vw;
    top: 77vh;
    left: 5.5vw;
}

.perguntas{
    position: absolute;
    text-decoration: none;
    background-color: #0f153328;
    color: #000000b7;
    font-size: 1.1vw;
    border-radius: 7px;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-right: 0.5vw;
    margin-left: 0.2vw;
    top: 84vh;
    left: 0.5vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.pg{
    margin-left: 0.2vw;
}

.central{
    position: absolute;
    background-color: #667ff146;
    text-decoration: none;
    color: #54565C;
    border-radius: 7px;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-right: 2vw;
    margin-left: 0.2vw;
    font-size: 1.1vw;
    top: 92vh;
    left: 0.5vw;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.267);
}

.c{
    margin-left: 2vw;
}

.monitoramento2{
    position: absolute;
    top: 11vh;
    font-family: "Cabin";
    left: 17vw;
    background-color: #2CA2AD;
    color: white;
    font-size: 1.1vw;
    border-radius: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    padding-left: 6.3vw;
    padding-right: 6.3vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.p1{
    position: absolute;
    text-decoration: none;
    font-family: "Cabin";
    color: #181414;
    background-image: linear-gradient(to bottom, hsla(137, 83%, 57%, 0.5), hsla(115, 79%, 26%, 0.8));
    top: 18vh;
    left: 18vw;
    padding-top: 1vh;
    padding-bottom: 11vh;
    width: 9vw;
    text-align: center;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-size: 0.95vw;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

.dp1{
    position: absolute;
    background-color: white;
    top: 30vh;
    left: 21vw;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 7px;
    font-size: 1.1vw;
    font-family: "Marcellus SC";
    color: black;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-weight: bold;
}

.p2{
    position: absolute;
    text-decoration: none;
    font-family: "Cabin";
    color: #181414;
    background-image: linear-gradient(to bottom, rgba(4, 0, 255, 0.500), rgba(142, 188, 221, 0.800));
    top: 18vh;
    left: 32vw;
    padding-top: 1vh;
    padding-bottom: 11vh;
    width: 9vw;
    text-align: center;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-size: 0.95vw;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

.dp2{
    position: absolute;
    background-color: white;
    top: 30vh;
    left: 35.1vw;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-radius: 7px;
    font-size: 1.2vw;
    font-family: "Marcellus SC";
    color: black;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-weight: bold;
}

.p3{
    position: absolute;
    text-decoration: none;
    font-family: "Cabin";
    color: #181414;
    background-image: linear-gradient(to bottom, #AD30E1, rgba(193, 139, 235, 0.800));
    top: 18vh;
    left: 46vw;
    padding-top: 1vh;
    padding-bottom: 11vh;
    width: 9vw;
    text-align: center;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-size: 0.95vw;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

.dp3{
    position: absolute;
    background-color: white;
    top: 30vh;
    left: 49.2vw;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 7px;
    font-size: 1.2vw;
    font-family: "Marcellus SC";
    color: black;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-weight: bold;
}

.p4{
    position: absolute;
    text-decoration: none;
    font-family: "Cabin";
    color: #181414;
    background-image: linear-gradient(to bottom, rgba(255, 183, 241, 0.200), rgba(215, 33, 179, 0.800));
    top:40vh;
    left: 18vw;
    padding-top: 1vh;
    padding-bottom: 8vh;
    width: 9vw;
    text-align: center;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-size: 0.95vw;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

.dp4{
    position: absolute;
    background-color: white;
    top: 51.3vh;
    left: 21.3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-radius: 7px;
    font-size: 1.2vw;
    font-family: "Marcellus SC";
    color: black;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-weight: bold;
}

.p5{
    position: absolute;
    text-decoration: none;
    font-family: "Cabin";
    color: #181414;
    background-image: linear-gradient(to bottom, rgba(255, 208, 127, 0.2), rgba(221, 148, 30, 0.8));
    top:40vh;
    left: 32vw;
    padding-top: 1vh;
    padding-bottom: 8vh;
    width: 9vw;
    text-align: center;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-size: 0.95vw;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

.dp5{
    position: absolute;
    background-color: white;
    top: 51.3vh;
    left: 35.1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border-radius: 7px;
    font-size: 1.2vw;
    font-family: "Marcellus SC";
    color: black;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-weight: bold;
}

.p6{
    position: absolute;
    text-decoration: none;
    font-family: "Cabin";
    color: #181414;
    background-image: linear-gradient(to bottom, rgba(255, 138, 130, 0.200), rgba(247, 27, 11, 0.900));
    top:40vh;
    left: 46vw;
    padding-top: 1vh;
    padding-bottom: 8vh;
    width: 9vw;
    text-align: center;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-size: 0.95vw;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

.dp6{
    position: absolute;
    background-color: white;
    top: 51.3vh;
    left: 49.4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-radius: 7px;
    font-size: 1.2vw;
    font-family: "Marcellus SC";
    color: black;
    border-style: groove;
    border-width: 1px;
    border-color: #890E7D;
    font-weight: bold;
}

.vertical{
    position: absolute;
    left: 60vw;
    top: 8vh;
    height: 53.5vh;
}

.horizontal{
    position: absolute;
    left: 18vw;
    top: 61.5vh;
    width: 80vw;
}

.analise{
    position: absolute;
    top: 11vh;
    font-family: "Cabin";
    left: 63vw;
    background-color: #2CA2AD;
    color: white;
    font-size: 1.1vw;
    border-radius: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.grafico{
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.377);
    width: 13.417vw;
    height: 13.417vw;
    position: absolute;
    top: 26vh;
    left: 80vw;
    background-color: black;
    background: repeating-conic-gradient(
        from 0deg,
        #EEA8E1 0deg 207deg,
        rgba(255, 162, 0, 0.43) 207deg 308.88000000000001deg,
        rgba(255, 17, 0, 0.69) 308.88000000000001deg 360deg
    );
}

.grafico .dividir{
    background: rgba(0, 0, 0, 0.616);
    height: 50%;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    transform-origin: 0 100%;
    transform: rotate(calc(1turn * (var(--precent) / 100)));
    width: 2px;
}

.info{
    font-family: "Poppins";
    color: rgba(0, 0, 0, 0.644);
    font-size: 1.1vw;
}

.d1{
    position: absolute;
    left: 65vw;
    top: 19vh;
    color: rgba(0, 0, 0, 0.473);
    font-family: "Poppins";
    font-size: 1.2vw;
}

.bola1{
    position: absolute;
    left: 65.5vw;
    top: 28.2vh;
    background-color: #FF71E4;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
}

.d2{
    position: absolute;
    left: 67vw;
    top: 28vh;
}

.d22{
    position: absolute;
    left: 67vw;
    top: 32.5vh;
    color: rgba(0, 0, 0, 0.473);
}

.bola2{
    position: absolute;
    left: 65.5vw;
    top: 39.2vh;
    background-color: #FFA100;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
}

.d3{
    position: absolute;
    left: 67vw;
    top: 39vh;
}

.d33{
    position: absolute;
    left: 67vw;
    top: 43.5vh;
    color: rgba(0, 0, 0, 0.473);
}

.bola3{
    position: absolute;
    left: 65.5vw;
    top: 50.2vh;
    background-color: #FF1100;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
}

.d4{
    position: absolute;
    left: 67vw;
    top: 50vh;
}

.d44{
    position: absolute;
    left: 67vw;
    top: 54.5vh;
    color: rgba(0, 0, 0, 0.473);
}

h2{
    position: absolute;
    top: 63vh;
    left: 17vw;
    font-family: "Poppins";
    font-weight: normal;
    font-size: 1.7vw;
}

.pnv{
    position: absolute;
    font-family: "Poppins";
    top: 71vh;
    left: 17vw;
    font-size: 1vw;
    background-image: url(img/pinnaovisitado.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position: 0vw;
    padding-left: 4vh;
}

.pbv{
    position: absolute;
    font-family: "Poppins";
    top: 77vh;
    left: 17vw;
    font-size: 1vw;
    background-image: url(img/bandeirabaixo.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position: 0vw;
    padding-left: 4vh;
}

.pmv{
    position: absolute;
    font-family: "Poppins";
    top: 83vh;
    left: 17vw;
    font-size: 1vw;
    background-image: url(img/bandeiramedio.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position: 0vw;
    padding-left: 4vh;
}

.pav{
    position: absolute;
    font-family: "Poppins";
    top: 89vh;
    left: 17vw;
    font-size: 1vw;
    background-image: url(img/bandeiraalto.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position: 0vw;
    padding-left: 4vh;
}

.pa{
    position: absolute;
    font-family: "Poppins";
    top: 95vh;
    left: 17vw;
    font-size: 1vw;
    background-image: url(img/bandeiranaofoi.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position: 0vw;
    padding-left: 4vh;
}

.mapa{
    overflow:hidden;
    padding-bottom: 0;
    position:relative;
    height:0;
}

.mapa iframe{
    left:39vw;
    top:63vh;
    height:36%;
    width:59%;
    position:fixed;
}